#area-titulo {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a43ec7;
}

#area-titulo h1 {
    font-size: 1.5rem;
}

#area-tratamento, #area-historico {
    padding: 20px 0;
    width: 85%;
    max-width: 1600px;
    margin: auto;
}

#area-tratamento h1, #area-historico h1 {
    font-size: 1.2rem;
    color: #a43ec7;
}

#area-tratamento input, #area-tratamento select, #area-tratamento textarea {
    width: 100%;
    padding: 10px;
    border: thin solid #a43ec7;
    border-radius: 5px;
    resize: none;
}

#area-tratamento input:disabled, #area-tratamento textarea:disabled {
    background-color: #fdf7ff;
    color: #898888;
}

#area-tratamento input[type='text'] {
    padding: 11px 10px;
}

#area-tratamento > form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-form {
    width: calc(33.3% - 7px);
    display: flex;
    flex-direction: column;
}

.item-form-bloco {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.botao {
    text-decoration: none;
    background-color: #a43ec7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#area-tratamento > form > button {
    margin: auto;
}

table {
    width: 100%;
    border: thin solid #a43ec7;
    border-collapse: collapse;
}

table th {
    background-color: #a43ec7;
    color: #fff;
    padding: 10px;
}

table td {
    padding: 10px;
}

table td.data {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #fdf7ff;
}