@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

#area-busca {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a43ec7;
}

#area-busca input {
    width: 70%;
    max-width: 600px;
    padding: 10px;
    border: thin solid #a43ec7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#area-busca button {
    padding: 10px;
    color: #fff;
    background-color: #a43ec7;
    border: thin solid #a43ec7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#resultados {
    padding: 20px 0;
    width: 85%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.caixaAnimal {
    width: calc(20% - 8px);
    background-color: #fff;
    border: thin solid #dddddd;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    padding: 10px;
}

.caixaAnimal a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10;
    justify-content: space-between;
    align-items: center;
}

.caixaAnimal > a > div {
    flex: 1;
}

.caixaAnimal > * {
    text-align: center;
}

.caixaAnimal img {
    width: 50%;
    border: 3px solid #a43ec7;
    border-radius: 5px;
}


.caixaAnimal h1 {
    color: #a43ec7;
    text-transform: uppercase;
}